# Fabio
.idea
campusconnect/node_modules
*.iml


# Node
node_modules
*.log

# Yeoman
temp
intermediate
publish

# Sublime
*.sublime*

# Scrapers
maces-*.json

# Mac
.DS_Store

# sqlite
test/config/test.sqlite

data/
scrapers/calendar/*.json