# Fabio
.idea
campusconnect/node_modules
*.iml
unc/unc.txt
upenn/Penn
campusconnect/TODO.txt
collegeapi


# Node
node_modules
*.log

# Yeoman
temp
intermediate
publish

# Sublime
*.sublime*

# Scrapers
maces-*.json

# Mac
.DS_Store

# sqlite
test/config/test.sqlite
