#footer
.container
	.row
		.span6
			Copyright &copy; Fabio Productions #{+new Date().getFullYear()} 
			a(href='/page?name=about') About 
			| | 
			a(href='/page?name=contact') Contact Us 

script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js")
script(src="/libs/bootstrap/js/bootstrap.min.js")
script(src="/libs/sugarjs/sugar.min.js")