extends layout

block content

  .container
    .row
       .hero-unit
         h1.offset1 CampusConnect Developer Center

    .row.explain-row
      .span4
        h2.explained Find a problem to solve for college students
        i.icon-search
      .span4
        h2.explained Build a cool app for colleges
        i.icon-cogs
      .span4
        h2.explained Make college better
        i.icon-thumbs-up
    
    .row.hero-unit
      .span4.offset2
        a(class="btn btn-primary btn-home", href="/oauth/authorize?client_id=2f18b05f9da2c9c32c8b32cc1e1c6717&perms=basic_info&uni=duke&redirect_uri=/signup") Sign up as a developper