/* General */

body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
        font-size: 14px;
}

pre {
    background-color:white;
}

.hero-unit {
    background-color: white;
}

/* Login Form */

.form-signin {
    max-width: 500px;
    padding: 19px 29px 29px;
    margin: 30px auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin input[type="text"], .form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.btn-padding {
    margin:5px;
}

/* Homepage */

i.icon-cogs, i.icon-thumbs-up, i.icon-search {
    font-size:120px;
    padding-left: 130px;
}

h2.explained {
    padding-bottom:25px;
    text-align: center;
    height:72px;
}

.explain-row {
    height: 200px;
}

h1.hero-home {
    text-align:center;
}

.start-row {
    height:120px;
    padding-top:15px;
}

.btn-home {
    font-size: 35px;
    padding: 30px;
    margin-left: 55px;
    width: 390px;
}

.btn-margin {
    margin:10px;
}

/* Documentation */

.spaced {
    padding-bottom:25px;
}

.img-documentation {
    width: 450px;
}

.first-lvl {
    padding-left:10px;
}

.second-lvl {
    padding-left:20px;
}

.third-lvl {
    padding-left:30px;
}

.fourth-lvl {
    padding-left:40px;
}

a.big-links {
    font-size:20px;
}

ul.padded-ul li {
    padding-bottom:10px;
}